.loading {
    display: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    background: #198754;
    padding: 5px 0px;
}

.loading span {
    display: inline-block;
    margin: 0 -0.05em;
}

.loading07 span {
    position: relative;
    color: rgba(0, 0, 0, 0.2);
}

.loading07 span::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    color: #fff;
    opacity: 0;
    transform: scale(1.5);
    animation: loading07 3s infinite;
}

.loading07 span:nth-child(2)::after {
    animation-delay: 0.1s;
}

.loading07 span:nth-child(3)::after {
    animation-delay: 0.2s;
}

.loading07 span:nth-child(4)::after {
    animation-delay: 0.3s;
}

.loading07 span:nth-child(5)::after {
    animation-delay: 0.4s;
}

.loading07 span:nth-child(6)::after {
    animation-delay: 0.5s;
}

.loading07 span:nth-child(7)::after {
    animation-delay: 0.6s;
}

@keyframes loading07 {

    0%,
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }

    25%,
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ================typewriter text======================= */
/* Cursor */
.cursor {
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 45px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #198754;
}

/* Animation */
.typewriter-animation {
    animation:
        typewriter 5s steps(50) 1s infinite normal both,
        blinkingCursor 500ms steps(50) infinite normal;
}

.footer-whatsapp .btn {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 6px;
}

.footer-whatsapp i {
    font-size: 18px;
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    70% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blinkingCursor {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    100% {
        border-right-color: transparent;
    }
}

@media (max-width: 1199px) {
    .cursor {
        font-size: 29px;
    }
}

@media (max-width: 650px) {
    .cursor {
        font-size: 20px;
    }
}

/* ================typewriter text end ================== */